<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <title>EVO UI</title>
</head>
<body>
    <header>
        <a class="logo" href="index.html">
            <img src="/static/logo.png" style="width: 50px;height: 50px;" alt="Logo">
            <span class="text">EVO UI</span>
        </a>
        <div class="bx bx-menu" id="menu-icon"></div>
        <ul class="navbar">
            <li><a href="index.html">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="login.html">LOGIN</a></li>
            <li><a href="signup.html">SIGN UP</a></li>
        </ul>
    </header>

    <section class="home" id="home">
        <div class="home-text">
            <h1>EVO UI</h1>
            <h2>Generate your uniqe UI</h2>
            <textarea class="prompt" rows="1" type="text" name="prompt" placeholder="Enter your prompt here" required></textarea>
            <a href="#" class="btn">Generate</a>
        </div>
        <div class="output"></div>
            {% if image_path %}
            <br>
                <h3>Generated Image <br></h3>
                <img src="/static/output/generated_image.png" alt="Generated Image">
            {% endif %}
        </div>
    </section>

    <section id="contact">
        <div class="footer">
            <div class="main">
                <div class="col">
                    <h4>Menu List</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h4>Our Services</h4>
                    <ul>
                        <li><a href="#">Web Design</a></li>
                        <li><a href="#">Web Devolper</a></li>
                        <li><a href="#">Marketing</a></li>
                        <li><a href="#">Product Mangment</a></li>
                        <li><a href="#">Graphical</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">term & Condition</a></li>

                    </ul>
                </div>

                <div class="col">
                    <h4>Contact Us</h4>
                    <div class="social">
                        <a href="#"><i class='bx bxl-facebook'></i></a>
                        <a href="#"><i class='bx bxl-instagram'></i></a>
                        <a href="#"><i class='bx bxl-twitter'></i></a>
                        <a href="#"><i class='bx bxl-youtube'></i></a>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <script src="scribe.js"></script>
</body>
</html>